<div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="10px" >
    <button mat-raised-button color="primary" (click)="onShareSelect($event)" id="Photo">Photo</button>
    <button mat-raised-button color="primary" (click)="onShareSelect($event)" id="video">Video</button>
    <button mat-raised-button color="primary" (click)="onShareSelect($event)" id="file">File</button>
    <button mat-raised-button color="primary" (click)="onShareSelect($event)" id="stream">Stream</button>
</div>
