mat-drawer-container {
    height: 91%;
}

mat-card.client-name {
    margin: 5px 5px;
    background-color: #424242;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.1em;
    text-align: center;
}

div.text-chat {
    overflow-y: auto;
}

div.msg-row {
    margin: 10px 10px;
    word-wrap: break-word;
}

div.msg-sent mat-card {
    background-color: #7b1fa2;
}

div.msg-container {
    width: fit-content;
    max-width: 80%;
}

div.msg-container div.sender-name {
    font-size: 1em;
    color: #0cd9f4;
}

div.msg-received div.msg-container div.sender-name {
    margin-left: 5px;
}

div.msg-sent div.msg-container div.sender-name {
    text-align: right;
    margin-right: 5px;
}
